<!-- <ion-menu *ngIf="menus" side="start" menuId="first" contentId="main"> -->
  <ion-menu *ngIf="menus" side="start" menuId="first" contentId="main">
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="content">
    <ion-list>
		<ion-list-header class="ion-text-wrap" *ngIf="login_data">
		<ion-avatar *ngIf="login_data.avatar">
		  <img [src]="login_data.avatar" />
		</ion-avatar>
		<p class="loggedin-msg"><b>login_data.message</b></p>
    </ion-list-header>
    
<ion-item class="content" *ngFor="let item of menus" >
  <ion-label color="light" (click)="menuLink(item)">
    <ion-icon name="{{item.icon}}"></ion-icon>
		{{item.title}}
  </ion-label>
  <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
</ion-item>
		
		<div class="ion-margin content1">
			<ion-button mode="md" class="btn2" expand="block" (click)="openLoginModal()">
			<ion-icon name="log-in"></ion-icon>
			<span *ngIf="login_data">Logout</span><span *ngIf="!login_data">Login</span></ion-button>
		</div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main" #content swipeBackEnabled="false"></ion-router-outlet>

