<ion-header>
	<ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="dark" menu="first"><ion-icon size="large" color="light" name="menu-outline"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list class="ee">
    <ion-list-header class="ee" style="font-size: 16px;">Follow GLMPI on Facebook</ion-list-header>
    <ion-item class="eee">
      <ion-icon name="twitter" item-start></ion-icon>
      <a href="https://twitter.com/girlslikemeproj" target="_blank">@GirlsLikeMeProj</a>
    </ion-item>
    <ion-item class="eee">
      <ion-icon name="Facebook" item-start></ion-icon>
      <a href="https://www.facebook.com/GirlsLikeMeProject" target="_blank">GirlsLikeMeProject</a>
    </ion-item>
  </ion-list>
</ion-content>
