.content{
    --background: #f5f1e9;
}
.rr{
    --background: #f5f1e9;
    background: #f5f1e9;
}
.pp{
    text-align: center;
}
.btn2{
    height: 47px;
    /* height: 2.8em; */
    /* font-size: 1.6rem; */
    color: #fff;
    /* background-color: #2d5292; */
    --background: #2d5292;
}