<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menuToggle>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>
    <ion-title>GLMPI Mobile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-text-center">
    <ion-item class="ion-text-center ion-float-center">
      <ion-img style="width: 50%;height: 100%;" src="assets/imgs/glmpilogo.png"></ion-img>
    </ion-item>
  
    

    <ion-card-content text-center>

      <ion-card-title class="big-title">
        Welcome to the GLMPI App
      </ion-card-title>

      <p>Welcome to the first GLMPI Mobile App. The girls from GLMPI, got the opportunity to build this app, learn more about the journey here</p>

      <div *ngIf="loggedin">
        <p>&nbsp;</p>

      <button ion-button block (click)="pushPage('PostListPage')">View HERstories</button>
</div>
    </ion-card-content>

  </ion-card>

  
  <ion-card>
    <ion-card-content text-center>

      <ion-card-title class="big-title" text-center>
        Login to see HERstories, Complete your daily check ins and More!
      </ion-card-title>

      <!-- <p>You can hide content until a member is logged in. For example, a video will appear below after you login (use the side menu).</p> -->

      <button ion-button block (click)="openLoginModal()"><span *ngIf="!loggedin">Login</span><span *ngIf="loggedin">Logout</span></button>
      <p>Don't have a login? Please create an account on <a href="https://glmpiapp.com/register">our app website</a></p>

      <div *ngIf="loggedin">
        <p>&nbsp;</p>
        <h2>GLMPI MEMBERS ONLY</h2>
        <p>Here's today's live and HERstory...</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1sK6vNrJbZ0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </ion-card-content>

    <!-- add social media icons here -->

  </ion-card>
  
</ion-content>
