.content{
    --background: #f5f1e9;
}
.big-title{
    font-size: 21px;
    color: #E047AB;
    font-weight: bold;
}

.btn2{
    height: 47px;
    /* height: 2.8em; */
    /* font-size: 1.6rem; */
    color: #fff;
    /* background-color: #2d5292; */
    --background: #2d5292;
}
.dd{
    padding-top: 0px;
    padding-bottom: 7px;
}
.big-title1{
    font-size: 19px;
    color: #E047AB;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
}
.rr{
    background: #eee;
}
.img{
    width: 73%;
    height: 100%;
    object-fit: inherit;
    object-position: inherit;
    text-align: center;
}